@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {font-family: 'Montserrat', sans-serif;}
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.title {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-top: 250px;
    line-height: 30px;
}
.subtitle {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #b5b5b5;
    line-height: 20px;
}
.button {
    border: 1px solid #0080ff;
    background-color: #0080ff;
    color: #ffffff;
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 20px;
}
.button.disabled {
    border: 1px solid #888888;
    background-color: #888888;
    cursor: context-menu;
}
.button:focus {
    outline: none;
}
.banner {
    display: none;
    margin-bottom: -41px;
    color: #ffffff;
    padding: 10px 15px;
}
.banner.green {
    background-color: #0b9e32;
    border: 1px solid #0b9e32;
}
.banner.red {
    background-color: #cc1c1c !important;
    border: 1px solid #cc1c1c;
}