@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: #202124;
}
.container {
    background-color: #191919;
    border-radius: 7px;
    border: none;
    padding: 20px;
    height: fit-content;
    margin-top: 200px;
    text-align: center;
}
.title {
    font-size: 25px;
    color: #e5e5e5;
}
.subtitle {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 20px;
    color: #c5c5c5;
}
.value {
    font-size: 50px;
    font-weight: 100;
    line-height: 55px;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    color: #d5d5d5;
}
.lead-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.button {
    border: none #0080ff;
    background-color: #0080ff;
    color: #ffffff;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 30px;
}
.button.red {
    background-color: rgb(226, 15, 15);
    border: none rgb(226, 15, 15);
}
.button.green {
    margin-top: 10px;
    background-color: #09bf24;
    border: none #09bf24;
}
.button.disabled {
    border: none #888888;
    background-color: #888888;
    cursor: context-menu;
}
.button:focus {
    outline: none;
}
.banner {
    color: #ffffff;
    margin: 150px auto -190px auto;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 400;
    display: none;
}
.banner.red {
    background-color: rgba(226, 15, 15, .7);
    border: none rgba(226, 15, 15, .7);
}
.banner.green {
    background-color: rgba(9, 191, 36, .8);
    border: none rgba(9, 191, 36, .8);
}