@font-face {
    font-family: 'Roobert';
    src: url('../fonts/RoobertBold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
}

* {
    font-family: 'Roobert', sans-serif;
    font-weight: 800;
}
html {
    background-image: linear-gradient(to right, #101e2b, #0b121a, #090b12, #000000);
}
.Container {
    text-align: center;
}
.Image {
    margin-top: 85px;
    width: 65px;
    border-radius: 2px;
}
.Title {
    margin-top: 17px;
    color: #ffffff;
    user-select: none;
    font-size: 22px;
}